@media (min-width: 768px) {
  .react-multi-carousel-track {
    width: 100%;
    gap: 20px;
  }

  .react-multi-carousel-item {
    flex: none !important;
    width: 400px !important;
    position: relative !important;
  }
}

@media (max-width: 768px) {
  .carouselItem {
    padding: 0 16px;
  }
}
